apiVersion: apps/v1
kind: Deployment
metadata:
  name: uchenewwebsit
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: uchenewwebsit
  template:
    metadata:
      labels:
        app: uchenewwebsit
    spec:
      imagePullSecrets:
        - name: aws-registry
      containers:
        - name: uchenewwebsit
          image: 958421185668.dkr.ecr.us-east-1.amazonaws.com/uchenewwebsit-repo:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
